/* You can add global styles to this file, and also import other style files */
#buttonEnable{
    margin-left: 40px;
}

#pd1{
    margin-left: 400px;
    margin-top: 40px;
}

#pd{
    margin-left: 400px;
    margin-top: 100px;
}